<?php include VIEW_PATH.'Admin/Home/nav.html';?>
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-6">
                        <!--   Kitchen Sink -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                       充值排行榜
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>姓名</th>
                                            <th>充值费用</th>
                                        </tr>
                                        <?php foreach($user_money as $key=>$each):?>
                                        <?php foreach($each['sum'] as $one):?>
                                        <tr>
                                            <td><div style="margin-left:5px;background-color: #40ffaa;width: 30px;color:red;border-radius: 59px"><?php echo $key+1;?></div></td>
                                            <td><?=$one['user_id']?></td>
                                            <td><?=$one['sum']?></td>
                                        </tr>
                                        <?php endforeach;?>
                                        <?php endforeach;?>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End  Kitchen Sink -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                消费排行榜
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>姓名</th>
                                            <th>消费费用</th>
                                        </tr>
                                        <?php foreach($user_save as $key=>$each):?>
                                        <?php foreach($each['sum'] as $one):?>
                                        <tr>
                                            <td><div style="margin-left:5px;background-color: #40ffaa;width: 30px;color:red;border-radius: 59px"><?php echo $key+1;?></div></td>
                                            <td><?=$one['user_id']?></td>
                                            <td><?=$one['sum']?></td>
                                        </tr>
                                        <?php endforeach;?>
                                        <?php endforeach;?>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--<div class="panel panel-default">-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                员工服务排行榜
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>姓名</th>
                                            <th>服务次数</th>
                                        </tr>
                                        <?php foreach($member as $key=>$each):?>
                                        <?php foreach($each['count'] as $one):?>
                                        <tr>
                                            <td><div style="margin-left:5px;background-color: #40ffaa;width: 30px;color:red;border-radius: 59px"><?php echo $key+1;?></div></td>
                                            <td><?=$one['real']?></td>
                                            <td><?=$one['count']?></td>
                                        </tr>
                                        <?php endforeach;?>
                                        <?php endforeach;?>
                                    </table>
                                </div>
                            </div>
                        </div>
                            <!--<div class="panel-heading">-->
                                <!--员工服务榜-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                                <!--<div class="table-responsive">-->
                                    <!--<table class="table table-striped table-bordered table-hover">-->
                                        <!--<thead>-->
                                        <!--<tr>-->
                                            <!--<th>排名</th>-->
                                            <!--<th>姓名</th>-->
                                            <!--<th>服务次数</th>-->
                                        <!--</tr>-->
                                        <!--<?php foreach($member as $row):?>-->
                                        <!--<tr>-->
                                            <!--<td><div style="color: #83ff37;border-radius: 50px;width: 50px;"><?=$row['i']?></div></td>-->
                                            <!--<td><?=$row['real']['realname']?></td>-->
                                            <!--<td><?=$row['sum']?></td>-->
                                        <!--</tr>-->
                                        <!--<?php endforeach;?>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- /. ROW  -->
            </div>
                <!-- /. ROW  -->
        </div>

    </div>
             <!-- /. PAGE INNER  -->
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="./Public/Admin/assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="./Public/Admin/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="./Public/Admin/assets/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="./Public/Admin/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="./Public/Admin/assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- CUSTOM SCRIPTS -->
    <script src="./Public/Admin/assets/js/custom.js"></script>
    
   
</body>
</html>
