<!DOCTYPE HTML>
<html>
<head>
<title>Gallery</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Beautyou  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="./Public/Home/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="./Public/Home/css/style.css" rel='stylesheet' type='text/css' />	
<link rel="stylesheet" href="./Public/Home/css/flexslider.css" type="text/css" media="screen" />
<link href="./Public/Home/css/swipebox.css" rel='stylesheet' type='text/css' />

<script src="./Public/Home/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="./Public/Home/js/move-top.js"></script>
<script type="text/javascript" src="./Public/Home/js/easing.js"></script>
<!--/web-font-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,600italic,800' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<link rel="stylesheet" href="./Public/Home/css/swipebox.css">
				<script src="./Public/Home/js/jquery.swipebox.min.js"></script> 
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>

</head>
<body>
<!--start-home-->
		<div class="banner two" id="home">
			<div class="container">
			  <div class="head-top">
			   <!--logo-->
			       <div class="logo">
                      <a href="index.php?p=Home&c=Home&a=index"><h1>Beautyou</h1></a>
				   </div>
				    <div class="phone"><i class="glyphicon glyphicon-phone"></i><p>176 0880 1854</p>
				      <h5>Call me</h5>
					</div>
	               <div class="clearfix"></div>
					<!--//logo-->
              </div>
			   <div class="banner-inner second">
			      <h2 class="sec-head">Gallery</h2>
		      </div>
		</div>
	 </div>
		<div class="header-bottom">
	<div class="fixed-header">
		<div class="menu">Menu</div>
		<span class="menu"> </span>
		<div class="top-menu">
			<nav>
				<ul class="cl-effect-16">
					<li><a class="active" href="index.php?p=Home&c=Home&a=index" data-hover="HOME">Home</a></li>
					<li><a href="index.php?p=Home&c=Home&a=gallery" data-hover="Gallery">Gallery</a></li>
					<li><a href="index.php?p=Home&c=Order&a=index" data-hover="预约">预约</a></li>
					<li><a href="index.php?p=Home&c=Mall&a=index" data-hover="积分商城">积分商城</a></li>
					<?php
                    	@session_start();
                    	if (!empty($_SESSION['user'])){?>
					<li style="position: absolute;right: 20px;"><img src="<?=$_SESSION['user']['photo']?>" alt="头像"><a href="index.php?p=Home&c=User&a=index"  data-hover="<?=$_SESSION['user']['username'].'&emsp;欢迎您的光临'?>"><?=$_SESSION['user']['username'].'&emsp;欢迎您的光临'?></a>&emsp;&emsp;<a
							href="index.php?p=Home&c=Login&a=logout">安全退出</a></li>
					<?php }else{?>
					<li style="position: absolute;right: 20px;"><a href="index.php?p=Home&c=Login&a=index"  data-hover="请先登录">请先登录</a></li>
					<?php }?>
				</ul>
			</nav>
		</div>

		<div class="clearfix"></div>
		<!-- script for menu -->
		<script>
            $( "span.menu" ).click(function() {
                $( ".top-menu" ).slideToggle( "slow", function() {
                    // Animation complete.
                });
            });
		</script>
		<!-- script for menu -->
		<script>
            $(document).ready(function() {
                var navoffeset=$(".header-bottom").offset().top;
                $(window).scroll(function(){
                    var scrollpos=$(window).scrollTop();
                    if(scrollpos >=navoffeset){
                        $(".header-bottom").addClass("fixed");
                    }else{
                        $(".header-bottom").removeClass("fixed");
                    }
                });

            });
		</script>
	</div>
</div>
<!--gallery-->
			<!--<div class="portfolio-bottom">-->
				<div class="gallery-one">
					<div class="hair-section">
						<span style="position: absolute;right: 200px;">我的积分:<?=$integral['total']?></span>
						<div class="container">
							<h3 class="tittle">积分商城</h3>
							<form action="index.php?p=Home&c=MallBuy&a=buy" method="post">
								<input type="text" name="address" placeholder="您的地址" required>
								<div class="grid">
								<?php foreach($mall as $row):?>
								<div class="col-md-4 h-f">
									<figure class="effect-jazz">
										<label><img src="<?=$row['logo']?>" alt="img25">
										<figcaption>
											<h4>剩余：<span><?=$row['num']?></span></h4>
											<p><?=mb_substr($row['intro'],0,30)?>.</p>
											<!--<a href="index.php?p=Home&c=MallBuy&a=buy&id=<?=$row['id']?>">View more</a>-->
											<input style="position: absolute;left: 0;top: 0;border-radius: 30px" type="submit" name="id" value="<?=$row['id']?>">
										</figcaption></label>
									</figure>
									<div class="hf-text"><h5><?=$row['name']?></h5><p><?=$row['price']?></p></div>
								</div>
								<?php endforeach;?>
								</form>
								<!--<div class="col-md-4 h-f one">-->
									<!--<figure class="effect-jazz">-->
										<!--<a class="example-image-link" href="images/s6.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/s6.jpg" alt=""></a>-->

										<!--<figcaption>-->
											<!--<h4>make<span>over</span></h4>-->
											<!--<p>When Jazz starts to chase cars, the whole world stands still.</p>-->
											<!--<a href="#">View more</a>-->
										<!--</figcaption>-->
									<!--</figure>-->
									<!--<div class="hf-text"><h5>Makeover</h5><p>$ 180</p></div>-->
								<!--</div>-->
							</div>
						</div>
						<div style="text-align: center"><?=$html;?></div>
					</div>
					<div class="clearfix"> </div>
				</div>
			<!--</div>-->

  <!--bottom-->
	    <div class="s-bottom">
		<div class="container">
		       <div class="salon-top">
			    <h3>Flat 10% Discount On !!</h3>
				   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				   <a class="read two" href="#">Read More</a>
			   </div>
		</div>
	</div>

<!--footer-->
			<div class="container">
				<div class="copy">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates . - Collect from .</p>
				</div>
			</div>
		<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>