<?php include VIEW_PATH.'Admin/Home/nav.html';?>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        管理预约计划
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div id="dataTables-example_filter" class="dataTables_filter">
                                                <form action="index.php?p=Admin&c=Order&a=index" method="post">
                                                    <input type="text" name="keyword" placeholder="搜索"><input type="submit" value="Search">
                                                </form>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover dataTable no-footer"
                                       id="dataTables-example" aria-describedby="dataTables-example_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column ascending"
                                            style="width: 149px;">预约人电话
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending"
                                            style="width: 231px;">预约人
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="width: 209px;">被预约的美发师
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                            style="width: 87px;">预约的套餐
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-label="Engine version: activate to sort column ascending"
                                            style="width: 125px;">客户留言
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                            style="width: 87px;">预约日期
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                            style="width: 87px;">预约状态
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                            style="width: 87px;">回复客户
                                        </th>

                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                            style="width: 87px;">操作
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach($order as $row):?>
                                    <tr class="gradeA odd">
                                        <form action="index.php?p=Admin&c=Order&a=edit" method="post">
                                        <td class="sorting_1"><?=$row['phone'];?></td>
                                        <td class=" "><?=$row['name'];?></td>
                                        <td class=" "><?=$row['username']??'未预约美发师';?></td>
                                        <td class="center "><?=$row['plan'];?></td>
                                        <td class=" "><?=$row['content'];?></td>
                                        <td class=" "><?=date('Y-m-d',$row['date']);?></td>
                                        <td class=" ">
                                            <?php
                                            if($row['status']==0){
                                                echo '未处理<a href="index.php?p=Admin&c=Order&a=status&q=1&id='.$row['id'].'">确认</a>&emsp;<a href="index.php?p=Admin&c=Order&a=status&q=-1&id='.$row['id'].'">取消</a>';
                                            }elseif($row['status']==1){
                                                echo '成功&emsp;<a href="index.php?p=Admin&c=Order&a=status&q=-1&id='.$row['id'].'">取消</a>';
                                            }elseif($row['status']==-1){
                                                echo '失败&emsp;<a href="index.php?p=Admin&c=Order&a=status&q=1&id='.$row['id'].'">确认</a>';
                                            }
                                            ?><br>
                                        </td>
                                        <td class="center ">
                                            <?=$row['reply'];?><br>
                                            <input type="text" name="reply" placeholder="回复客户">
                                            <input type="submit" name="id" value="<?=$row['id'];?>">
                                        </td>

                                        <td class="center ">
                                            <a href="index.php?p=Admin&c=Order&a=delete&id=<?=$row['id'];?>">delete</a>
                                        </td>
                                        </form>
                                    </tr>
                                    <?php endforeach;?>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_info" id="dataTables-example_info" role="alert"
                                             aria-live="polite" aria-relevant="all">Showing 1 to 10 of 57 entries
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="dataTables-example_paginate">
                                            <?=$html;?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
    </div>
</div>
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="./Public/Admin/assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="./Public/Admin/assets/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="Public/Admin/assets/js/jquery.metisMenu.js"></script>
<!-- MORRIS CHART SCRIPTS -->
<script src="Public/Admin/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="Public/Admin/assets/js/morris/morris.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="Public/Admin/assets/js/custom.js"></script>
</body>
</html>