<?php include VIEW_PATH.'Admin/Home/nav.html';?>
        <div id="page-wrapper" >
            <div id="page-inner">
               <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            添加新活动
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form action="index.php?p=Admin&c=Article&a=add" method="post">
                                        <div class="form-group">
                                            <label>添加活动标题
                                            <input type="text" name="title" class="form-control" placeholder="PLease Enter Keyword" /></label>
                                            <div class="form-group">
                                                <label>添加活动内容</label>
                                                <textarea id="container" name="content" class="form-control" rows="4"></textarea>
                                            </div>
                                            <!-- 配置文件 -->
                                            <script type="text/javascript" src="./Public/Common/utf8-php/ueditor.config.js"></script>
                                            <!-- 编辑器源码文件 -->
                                            <script type="text/javascript" src="./Public/Common/utf8-php/ueditor.all.js"></script>
                                            <!-- 实例化编辑器 -->
                                            <script type="text/javascript">
                                                var ue = UE.getEditor('container');
                                            </script>
                                            <label>活动开始时间
                                                <input type="date" name="start" class="form-control" placeholder="PLease Enter Keyword" /></label>
                                            <label>活动结束时间
                                                <input type="date" name="end" class="form-control" placeholder="PLease Enter Keyword" /></label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">发布活动</button>
                                    </form>

                                </div>
             <!-- /. PAGE INNER  -->
                            </div>
                        </div>
                    </div>
         <!-- /. PAGE WRAPPER  -->
                </div>
                </div>
                </div>
                </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
