<!DOCTYPE HTML>
<html>
<head>
<title>个人中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Beautyou  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="./Public/Home/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="./Public/Home/css/style.css" rel='stylesheet' type='text/css' />	
<link rel="stylesheet" href="./Public/Home/css/flexslider.css" type="text/css" media="screen" />
<script src="./Public/Home/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="./Public/Home/js/move-top.js"></script>
<script type="text/javascript" src="./Public/Home/js/easing.js"></script>
<!--/web-font-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,600italic,800' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<script src="./Public/Home/js/bootstrap.min.js"></script>

</head>
<body>

<div class="header-bottom">
	<div class="fixed-header">
		<div class="menu">Menu</div>
		<span class="menu"> </span>
		<div class="top-menu">
			<nav>
				<ul class="cl-effect-16">
					<li><a class="active" href="index.php?p=Home&c=Home&a=index" data-hover="HOME">Home</a></li>
					<li><a href="index.php?p=Home&c=Home&a=gallery" data-hover="Gallery">Gallery</a></li>
					<li><a href="index.php?p=Home&c=Order&a=index" data-hover="预约">预约</a></li>
					<li><a href="index.php?p=Home&c=Mall&a=index" data-hover="积分商城">积分商城</a></li>
					<?php
                    	@session_start();
                    	if (!empty($_SESSION['user'])){?>
					<li style="position: absolute;right: 20px;"><img src="<?=$_SESSION['user']['photo']?>" alt="头像"><a href="index.php?p=Home&c=User&a=index"  data-hover="<?=$_SESSION['user']['username'].'&emsp;欢迎您的光临'?>"><?=$_SESSION['user']['username'].'&emsp;欢迎您的光临'?></a>&emsp;&emsp;<a
							href="index.php?p=Home&c=Login&a=logout">安全退出</a></li>
					<?php }else{?>
					<li style="position: absolute;right: 20px;"><a href="index.php?p=Home&c=Login&a=index"  data-hover="请先登录">请先登录</a></li>
					<?php }?>
				</ul>
			</nav>
		</div>

		<div class="clearfix"></div>
		<!-- script for menu -->
		<script>
            $( "span.menu" ).click(function() {
                $( ".top-menu" ).slideToggle( "slow", function() {
                    // Animation complete.
                });
            });
		</script>
		<!-- script for menu -->
		<script>
            $(document).ready(function() {
                var navoffeset=$(".header-bottom").offset().top;
                $(window).scroll(function(){
                    var scrollpos=$(window).scrollTop();
                    if(scrollpos >=navoffeset){
                        $(".header-bottom").addClass("fixed");
                    }else{
                        $(".header-bottom").removeClass("fixed");
                    }
                });

            });
		</script>
	</div>
</div>

<!--start-typography-->
<div style="padding-top: 0" class="typrography">
	 <div class="container">
		 <div class="grid_3 grid_5">
				 <h3>套餐-美发师</h3>
				   <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class=""><a href="#house" id="home-tab" role="tab" data-toggle="tab" aria-controls="house" aria-expanded="true">套餐</a></li>
				<li role="presentation" class="active"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">美发师</a></li>
				<li role="presentation" class="dropdown">
				<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">我的轨迹<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
				  <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">充值记录</a></li>
				  <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">消费记录</a></li>
				</ul>
			  </li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade" id="house">
					<form action="index.php?p=Home&c=order&a=add" method="post">
						<input type="date" name="date" required><input style="width: 300px;height: 39px" type="text" name="content" placeholder="附言">
						<input type="hidden" name="b" value="1">
						<?php foreach($plans as $plan):?>
						<!--<input type="hidden" name="id" value="<?=$plan['id']?>">-->
						<p><h4><?=$plan['name']?>￥:<?=$plan['money']?>&emsp;<input style="color: #cc350e;width: 50px;height: 50px;border-radius: 25px;background: #465dff" type="submit" name="id" value="<?=$plan['id']?>"></h4>
						详情:<?=$plan['des']?>
						</p>

						<?php endforeach;?>
					</form>
				</div>
			    <div role="tabpanel" class="tab-pane fade active in" id="profile">
					<ul class="ch-grid">
						<form action="index.php?p=Home&c=order&a=add" method="post">
							<p><input type="date" name="date" required><input style="width: 300px;height: 39px" type="text" name="content" placeholder="附言"></p>
							<input type="hidden" name="b" value="2">
						<?php foreach($mems as $mem):?>
						<li>
							<!--<input type="hidden" name="id" value="<?=$mem['id']?>">-->
							<input style="color: #cc3a08;width: 50px;height: 50px;border-radius: 25px;background: #465dff" type="submit" name="id" value="<?=$mem['id']?>">
							<div class="ch-item">
								<div class="ch-info">
									<div class="ch-info-front ch-img-<?=mt_rand(1,4);?>"></div>
									<div class="ch-info-back">
										<h3>BEAUTYOU</h3>
										<!--$mem['status']==1?'<span style="font-size:10px;color:red;">有预约</span>'.$mem['realname']:-->
											姓名:<?=$mem['realname'];?>
											性别:<?=$mem['sex']?'女':'男';?><br>
											<?=$mem['telephone'];?>
			  						</div>
								</div>
				   			</div>
			 			</li>
						<?php endforeach;?>
						</form>
						<br><br>
						<?=$html;?>
			 		</ul>
			  </div>
			    <div role="tabpanel" class="tab-pane fade" id="dropdown1">
					<table class="table">
						<tr>
							<th>日期</th>
							<th>充值金额</th>
							<th>赠送</th>
						</tr>
						<?php foreach($recharge as $rec):?>
						<tr>
							<th><?=date('Y-m-d H:i',$rec['time'])?></th>
							<th><?=$rec['amount']?></th>
							<th><?=$rec['handsel']?></th>
						</tr>
						<?php endforeach;?>
					</table>
			  	</div>
				<div role="tabpanel" class="tab-pane fade" id="dropdown2">
					<table class="table">
						<tr>
							<th>日期</th>
							<th>消费金额</th>
							<th>优惠</th>
						</tr>
						<?php foreach($consume as $con):?>
						<tr>
							<th><?=date('Y-m-d H:i',$con['time'])?></th>
							<th><?=$con['amount']?></th>
							<th><?=$con['handsel']?></th>
						</tr>
						<?php endforeach;?>
					</table>
				</div>
			</div>
		   </div>
		  </div>
	</div>
</div>

<!--footer-->
<div class="container">
	<div class="copy">
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates . - Collect from .</p>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        /*
        var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!--end-smooth-scrolling-->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>